WSFacade/AppFacadeWS11/Service References/RecuperarDatosClienteMDM/mockRecuperarDatosClienteHttpBinding6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://grupobancolombia.com/ents/Participante/Demografica/IdentificacionCliente/V2.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="IdentificacionCliente">
    <xsd:annotation>
      <xsd:documentation>DV.2.0
Fecha creación	[ 2010-05-01 ]*
Fecha caducidad	[ AAAA-MM-DD ]*
Autor(es) 		[ Jose Francisco Nanez/Colombia/Contr/IBM@IBMCO ]*
Estado 		[ Desarrollo Funcional, Desarrollo Técnico, Publicado ]*
Código Requerimiento  [ ERP172,  ]*
Versión Anterior             [ 1.0 ]
Versión Posterior           [  ]
Descripción 		[ Entidad de negocio que sirve para identificar al Cliente ]
Tipo de elemento de dato [ Compuesto ]
Requiere                        [ No Aplica ]
Es requerido por            [ No Aplica ]
Sustituye                        [ No Disponible ]
Es sustituido por            [ No Disponible ]
Correlación                    [ No Disponible ]
Comprobación               [ No Disponible ]
Unidad Organizacional a cargo
                      Nombre                            [ No Disponible ] 
                      Dependencia                   [ No Disponible ] 
                      Cargo                               [ No Disponible ] 
                      Em@l                               [ No Disponible ] 
                      Fuente                             [ No Disponible ] 
                      Fecha de publicación      [ No Disponible ]</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="1" name="tipoDocumento">
        <xsd:annotation>
          <xsd:documentation>DV.2.0
Fecha creación	[ 2010-05-01 ]*
Fecha caducidad	[ AAAA-MM-DD ]*
Descripción 		[ Tipo de documento, no definido el dominio de valores ]
Sustituye                        [ No Disponible ]
Es sustituido por            [ No Disponible ]
Correlación                    [ No Disponible ]
Comprobación               [ No Disponible ]
Unidad Organizacional a cargo
                      Nombre                            [ No Disponible ] 
                      Dependencia                   [ No Disponible ] 
                      Cargo                               [ No Disponible ] 
                      Em@l                               [ No Disponible ] 
                      Fuente                             [ No Disponible ] 
                      Fecha de publicación      [ No Disponible ]</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="20" />
            <xsd:minLength value="1" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="1" name="numeroDocumento">
        <xsd:annotation>
          <xsd:documentation>DV.2.0
Fecha creación	[ 2010-05-01 ]*
Fecha caducidad	[ AAAA-MM-DD ]*
Descripción 		[ Tipo de documento, no definido el dominio de valores ]
Sustituye                        [ No Disponible ]
Es sustituido por            [ No Disponible ]
Correlación                    [ No Disponible ]
Comprobación               [ No Disponible ]
Unidad Organizacional a cargo
                      Nombre                            [ No Disponible ] 
                      Dependencia                   [ No Disponible ] 
                      Cargo                               [ No Disponible ] 
                      Em@l                               [ No Disponible ] 
                      Fuente                             [ No Disponible ] 
                      Fecha de publicación      [ No Disponible ]</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="30" />
            <xsd:minLength value="1" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>