WSFacade/AppFacadeWS11/Service References/RecuperarDatosClienteHUB/mockRecuperarDatosClienteHttpBinding7.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:bons0="http://grupobancolombia.com/ents/EntidadesExternas/BDAdquiridas/CodigoPais/V2.0" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://grupobancolombia.com/ents/EntidadesExternas/BDAdquiridas/CodigoPais/V2.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="CodigoPais">
    <xsd:sequence>
      <xsd:choice>
        <xsd:element minOccurs="1" name="codigoISO3166Alfa2">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:length value="2" />
              <xsd:pattern value="([a-z]|[A-Z])([a-z]|[A-Z])" />
              <xsd:whiteSpace value="collapse" />
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element minOccurs="1" name="codigoISO3166Alfa3">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:pattern value="([a-z]|[A-Z])([a-z]|[A-Z])([a-z]|[A-Z])" />
              <xsd:whiteSpace value="collapse" />
              <xsd:length value="3" />
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element minOccurs="1" name="codigoISO3166AlfaNumerico">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:minLength value="3" />
              <xsd:whiteSpace value="collapse" />
              <xsd:pattern value="\d\d\d" />
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
      </xsd:choice>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>